/* CSS for Tommy John Vis */
.y.axis line, .y.axis path, .x.axis line, .x.axis path {
  fill: none;
  stroke: #000;
}

circle {
  fill: steelblue;
}

circle:hover {
  fill: red;
}

.line {
  fill: none; 
  stroke-width: 1px;
}

/*.x.axis path {
  display: none; 
}*/

body{
	font-family: 'PT Sans', sans-serif;
}
.axis text {
	font: 10px sans-serif;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

.ui-slider {
    color: steelblue;
    font-size: 1em;
    background-color: #5d82be;
}

#ageRange {
  border: 1px solid transparent;
}

.smallFont {
  font-size: small;
}

#viewingArea {
  border-style: solid;
  border-width: 1px;
  border-color: steelblue;
  margin-left: 20px;
  margin-bottom:3px;
}

#filteringArea {
  border-style: solid;
  border-width: 1px;
  border-color: steelblue;
  margin-left: 20px;
}